.reset-base,
.reset-input {
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  background: transparent;
  border: none;
}

.reset-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.reset-quiet {
  background: transparent;
  border: 1px solid transparent;
  box-shadow: none;
}

.reset-input {
  vertical-align: top;
  outline: none;
}

.hide-input {
  position: absolute;
  overflow: hidden;
  padding: 0;
  border: 0;
  opacity: 0.001;
  z-index: 1;
  vertical-align: top;
  outline: none;
}

.reset-cursor {
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.reset-input,
.reset-box-model,
.reset-container {
  box-sizing: border-box;
  background-clip: padding-box;
}

.reset-overflow,
.reset-container,
.ellipsis {
  white-space: nowrap;
  overflow: hidden;
}

.reset-container {
  word-spacing: 0;
}

.inline-block {
  position: relative;
  display: inline-block;
  vertical-align: top;
}

.ellipsis {
  text-overflow: ellipsis;
}

.disabled {
  opacity: 0.3;
  cursor: default;
  pointer-events: none;
}
